.pagina-carregamento {
    background-image: url("harrypotterfundo.jpg");
    background-color: #ffffff00;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .conteudo {
    text-align: center;
  }

  body {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #fff;
  }
  
  img {
    width: 200px;
    height: 200px;
  }

  .link-button {
    text-decoration: none;
    color: white;
    background-color: aqua;
    padding: 5px 10px;
    border-radius: 5px;
  }
  