.pagina-carregamento {
    background-image: url("harrypotterfundo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .conteudo {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #fff;
  }
  
  img {
    width: 200px;
    height: 200px;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-image: url(hp2.gif);
  }
  